{% extends "layout.html" %}
{% block content %}
<table class="table">
    <thead>
    <tr>
        <th scope="col">People Name</th>
        <th scope="col">Sex</th>
        <th scope="col">Age</th>
        <th scope="col">Height</th>
        <th scope="col">Weight</th>
    </tr>
    </thead>
    <tbody>
    {% for people in peoples %}
    <tr>
        <td><a href="view/{{people.id}}">{{ people.fldName }}</a></td>
        <td>{{ city.fldSex }}</td>
        <td>{{ city.fldAge }}</td>
        <td>{{ city.fldHeight }}</td>
        <td>{{ city.fldWeight }}</td>
    </tr>
    {% endfor %}
    </tbody>
</table>
{% endblock %}