{% extends "layout.html" %}
{% block content %}
<form action="/peoples/new" method="POST">
    <div class="row">
        <div class="col">
            <label for="fldName">City Name</label>
            <input id="fldName" type="text" class="form-control" placeholder="People Name" name="fldName" value="{{People.fldName}}">
        </div>
        <div class="col">
            <label for="fldSex">People Sex</label>
            <input id="fldSex" type="text" class="form-control" placeholder="People Sex"
                   name="fldSex" value="{{People.fldSex}}">
        </div>
        <div class="col">
            <label for="fldAge">People Age</label>
            <input id="fldAge" type="text" class="form-control" placeholder="People Age" name="fldAge" value="{{People.fldAge}}">
        </div>
    </div>

    <div class="row">
        <div class="col">
            <label for="fldHeight">People Height</label>
            <input id="fldHeight" type="text" class="form-control" placeholder="Poeple Height" name="fldHeight" value="{{People.fldHeight}}">
        </div>
        <div class="col">
            <label for="fldWeight">People Weight</label>
            <input id="fldWeight" type="text" class="form-control" placeholder="People Weight" name="fldWeight" value="{{People.fldWeight}}">
        </div>
    </div>
    <button type="submit" class="btn btn-success">Save</button>

</form>

{% endblock %}